table, th, td {
    border:10px ridge rgb(10, 103, 179)
  }
  
  table {
    border: none;
  }

  body {
    background-image: url(https://s6.uupload.ir/files/space_65-wallpaper-3554x1999_osen.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
:root {
  color-scheme: dark;
}
/*
:root.dark {
     color-scheme: light;
    
  }*/
  body {font-family: Arial;}





/* Style the tab */
.tab {
  overflow: hidden;
  border:10px  groove rgb(48, 16, 75);
  background-color:transparent;
  margin-right: 86%;

  
}
h3 ,h1{
  text-shadow: 5px 5px 10px rgb(0, 0, 0);
  text-align:center; 
  font-family: Cinzel; 
  color: white"
}
/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  border-radius: 20%;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: transparent;
  backdrop-filter: brightness(60%);
  
}

/* Create an active/current tablink class */
.tab button.active {
  color: rgb(255, 255, 255);
  backdrop-filter: blur(20px);
  
  
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px ;
  border: 10px ridge rgb(13, 127, 214);
  margin-top: 15px ;
  
}
